.page-node-type-autor {
  .ps-rrss-share {
    max-width: 1366px;
    margin: 0 auto;
  }
  #block-fundacion-theme-contenidoprincipaldelapagina {
     margin-bottom: 1em;
    margin-top: 2em;
    h1 {
      max-width: 1366px;
      margin: 0 auto;
      padding: 0 15px;
      margin-bottom: 1em;
    }
    article {
      .node__content {
        max-width: 1366px;
        margin: 0 auto;
        padding: 0 15px;
        .layout--onecol {
          .layout__region {
            margin: 1.5em 0;
            display: flex;
            flex-wrap: wrap;
             &::after {
               content: ")";
             }
            &::before {
              content: "(";
            }
            .block-field-blocknodeautorfield-defuncion {
              display: flex;
              &::before {
                content: "-";
                padding: 0 3px;
              }

            }
            .field {
              font-size: 16px;
              font-weight: 400;
              color: $bne_color_1;
            }
          }
        }
        .layout--twocol-section {
          .layout__region--first {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-bottom: 1em !important;
            @media (max-width: 992px) {
              flex: 0 1 100% !important;
              display: flex;
              flex-direction: column;
              max-width: 300px;
              margin: 2em auto;
            }
            .block-field-blocknodeautorfield-imagen-representativa {
              width: 100%;
              margin: 0;
              img {
                width: 100%;
                height: auto;
              }
            }
            .block-field-blocknodeautorfield-enlace{
              margin-top: 1.5em;
            }
            .block-field-blocknodeautorfield-url-2{
              margin-top: 0;
            }
            .block-field-blocknodeautorfield-enlace,
            .block-field-blocknodeautorfield-url-2 {
              margin-bottom: 0.6em !important;

              .field {
                position: relative;
                &:hover {
                  .field__label {
                    text-decoration: underline;
                  }
                }
                .field__label {
                  font-size: 16px;
                  color: $bne_color_6;
                  line-height: 24px;
                  letter-spacing: 0.96px;
                  font-weight: 400;
                }

                .field__item {
                  position: absolute;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  z-index: 20;
                  &:hover {
                    text-decoration: underline;
                    color: $bne_color_6;
                  }
                  a {
                    display: block;
                    width: 100%;
                    height: 100%;
                    font-size: 0;
                  }
                }
              }
            }
          }
          .layout__region--second {
            padding-left: 30px !important;
            @media (max-width: 992px) {
              flex: 0 1 100% !important;
              padding-left: 0 !important;
            }
            .ps-contenido-autores {
              .view-content {
                .views-row {
                  display: grid;
                  grid-template-columns: 1fr;
                  grid-gap: 2em;
                  border: 0.5px solid $bne_color_3;
                  padding: 30px;
                  @media (min-width: 576px) {
                    grid-template-columns: 1fr 1fr;
                  }
                  @media (min-width: 992px) {
                    grid-template-columns: 1fr 1fr 1fr;
                  }
                  .views-field {
                    .views-label {
                      font-size: 18px;
                      font-family: $dm-serif;
                      font-weight: $dm-serif-regular;
                      color: $negro;
                      line-height: 24px;
                    }
                    .field-content {
                      margin-top: 0.5em;
                      font-size: 16px;
                      font-weight: 400;
                      color: $bne_color_2;
                      line-height: 24px;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  .block-views-blockdocumentos-enlaces-de-la-pagina-block-1 {
    max-width: 1366px;
    margin: 0 auto;
  }
  .block-views-blockwidget-multimedia-enlaces-block-3 {
    max-width: 1366px;
    margin: 0 auto;
  }
}
