.ps-cabecera-secciones{
    .view-content{
        .views-row{
            position: relative;
            .views-field-title{
                position: absolute;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: $fondo-transparencia-secciones;

                @media (min-width: 992px) {
                    width: 60%;
                }
                @media (min-width: 1200px) {
                    width: 50%;
                }
                .field-content{
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 15px;
                    .header-seccion-bne-container{
                        width: 90%;
                        @media (min-width: 576px) {
                            width: 90%;
                        }
                        @media (min-width: 768px) {
                            width: 90%;
                        }
                        @media (min-width: 992px) {
                            width: 80%;
                        }
                        @media (min-width: 1200px) {
                            width: 70%;
                        }
                        @media (min-width: 1400px) {
                            width: 60%;
                        }

                        .titulo{
                            font-size: 1em;
                            color: $blanco;
                            line-height: 24px;
                            letter-spacing: 0.96px;
                            margin-bottom: 1em;
                            display: block;
                            text-align: center;

                        }
                        .subtitulo{
                            font-size: $h2_home_block;
                            color: $blanco;
                            line-height: 52px;
                            letter-spacing: 0.66px;
                            font-family: $dm-serif;
                            font-weight: $dm-serif-regular;
                            margin-bottom: 1em;
                            display: block;
                            text-align: center;
                        }
                        .descripcion{
                            font-size: 1em;
                            color: $blanco;
                            line-height: 28px;
                            letter-spacing: 0.48px;
                            display: block;
                            text-align: center;
                            p{
                                font-size: 1em;
                                color: $blanco;
                                line-height: 28px;
                                letter-spacing: 0.48px;
                            }
                            @media (max-width: 768px) {
                            display: none;
                            }
                        }
                    }

                }
            }
            .views-field-field-media-image{
                height: 100%;
                div{
                    height: 100%;
                }
                .field-content{
                    picture{
                        display: flex;
                        img{
                            width: 100%;
                            height: auto;
                            object-fit: cover;
                        }
                    }
                }
            }
        }
    }
}