.ps-eventos-destacados-home{
    .view-header{
        
    }
    .view-filters{
        display: none;
    }
    .view-content{
        display: grid;
        grid-template-columns: 1fr;
        @media (min-width: 768px) { 
            grid-template-columns: 1fr 1fr;
        }
        @media (min-width: 1200px) { 
            grid-template-columns: repeat(4, 1fr);
        }
        .views-row{

        }
        .view-footer{

        }
    }
}