/*
    ========== BUSCADOR SOLR ==========
    
    Estilos dedicados a los enlaces de la web.

    Se ha hecho uso de los siguientes MIXINS:
    

        @mixin after-icon($size, $right, $icon)

        @mixin display_flex($direction, $justify_content, $align_items)        

    ------------------------- MIXINS --------------------------

    after-icon = Icono posterior al texto del enlace

    display_flex = Mixin para las vistas display flex

    ----------------------- VARIABLES -------------------------

    $size = Tamaño del icono

    $right = Posición a la izquierda del icono

    $icon = SVG del icono

    $direction = Propiedad flex-direction (Flex)

    $justify_content = Propiedad justify-content (Flex)

    $align_items = Propiedad align-items (Flex)

    $main_color_1 = Color principal de tipo 1

    $search_icon = Icono de búsqueda

    $filter_main_color_1_mod_1 = Modificación del filtro de color
    principal

*/

.ps-buscador-solr {
    .views-exposed-form {
        .form-item{
            &-field-domain-access {
                display: none;
            }

            &-search-api-fulltext {
                width: 100%;
                @include display_flex(row, flex-end, center);
                position: relative;

                &::before {
                    content: '';
                    display: block;
                    width: 30px;
                    height: 2px;
                    background-color: $main_color_1;
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }

                &::after {
                    @include after-icon(18px, 8px, $search_icon);
                    filter: $filter_main_color_1_mod_1;
                }

                label {
                    display: none;
                }

                input {
                    width: 66%;
                    border-bottom: none;
                    padding: 10px 60px 10px 5px;
                    background-position: 90% center;
                    @media (max-width: 920px) {
                        background-position: 84% center;
                    }
                }
            }
        }
    }

    .view-content {
        padding-bottom: 30px;
        .views-row {
            &:not(:first-child) {
                border-top: 2px solid #ccc;
                padding-top: 30px;
            }
            .media--type-imagen.media--view-mode-mitad-ancho {
                @include display_flex(row, initial, initial);
                .field--name-name {
                    font-size: 18px;
                    margin-bottom: 15px;
                    font-weight: bold;
                    order: 2;
                }

                img {
                    max-width: 180px;
                    height: auto;
                    order: 1;
                    margin-right: 15px;
                }
            }

            .media--type-video-remoto.media--view-mode-mitad-ancho {
                @include display_flex(row, initial, initial);
                .field--name-name {
                    font-size: 18px;
                    margin-bottom: 15px;
                    font-weight: bold;
                    order: 2;
                }
                .media-oembed-content {
                    width: 100%;
                    height: 30vw;
                    order: 1;
                    margin-right: 15px;
                    @media (min-width: 800px) {
                        width: 18vw;
                        height: 18vw;
                    }
                }
            }
        }
    }
}

