/*

!.gitignore
!UUIDS.txt
!excluir_config_to_pro.txt
!composer.json
!composer.lock
!/web
/web/*
!/web/composer.json
!/web/themes/
/web/themes/contrib/.vscode/sftp.json
/web/themes/.vscode/
/web/themes/contrib/bne/.vscode
/web/themes/contrib/bne/.vscode/sftp.json
/web/themes/contrib/bne_theme/css/bne_entorno.css
/web/themes/contrib/sede_theme/css/sede_entorno.css
!/web/modules
!/web/modules/*
/web/modules/contrib
!/web/libraries/
!/config/
!/configPRO/
/config/sync/domain.record.*
/config/sync/domain_theme_switch.settings.yml
/config/sync/advagg*
/config/sync/search_api.server.servidor_solr.yml
/config/sync/system.performance.yml
/config/sync/color.*
!/content/
