/*
    ============= ACORDEÓN ==============

    Estilos dedicados a los acordeones.

    Se ha hecho uso de los siguientes MIXINS:
    
        @mixin before-icon($size, $left, $icon)

        @mixin after-icon($size, $right, $icon)

        @mixin display_flex($direction, $justify_content, $align_items)

    ------------------------- MIXINS --------------------------
    before-icon = Mixin para insertar icono antes del contenido

    after-icon = Inserta un icono después del contenido

    display_flex = Mixin para las vistas display flex

    ----------------------- VARIABLES -------------------------
    $size = Tamaño del icono

    $right = Posición a la izquierda del icono

    $left = Posición a la izquierda del icono

    $icon = SVG del icono

    $main_color_1 / 3 / 4 = Color principal de tipo 1 / 3 / 4

    $help_icon = Icono de ayuda

    $filter_main_color_1 = Filtro del color principal

    $show_more_icon = Icono de "ver más"

    $file_icon = Icono de fichero

    $direction = Propiedad flex-direction (Flex)

    $justify_content = Propiedad justify-content (Flex)

    $align_items = Propiedad align-items (Flex)

*/

/* Módulo de acordeón */
.ui-accordion {
    .ui-accordion-header {
        color: $main_color_1;
        a {
            color: $main_color_1;
        }
        &.ui-state-active {
            background: #ededed;
            border-color: #c5c5c5;
            color: $main_color_1;
            &::after {
                transform: rotate(45deg);
            }
            a {
                color: $main_color_1;
            }
        }
        padding: .5em 60px;
        &::before {
            @include before-icon(20px, 15px, $help_icon);
            filter: $filter_main_color_1;
        }
        &::after {
            @include after-icon(20px, 15px, $show_more_icon);
            filter: $filter_main_color_1;
            transition: all 300ms;
            top: 8px;
        }
        .ui-accordion-header-icon {
            display: none;
        }
    }
}


/* Acordeón desde estilos (Bloque de vista) */


.block-view-accordion {
    margin: 10px 0;
    &.close-accordion {
        h1 {
            &::after {
                transform: initial;
            }
        }
    }
    h1 {
        background-color: $main_color_3;
        padding: 10px 10px 10px 30px;
        position: relative;
        @include display_flex(row, space-between, center);
        margin: 0;
        cursor: pointer;
        &::after {
            content: '';
            display: block;
            @include background-image(no-repeat, cover, initial, $show_more_icon);
            width: 20px;
            height: 20px;
            background-color: transparent;
            transition: all 300ms;
            transform: rotateZ(45deg);
        }
    }
    &.accordion-file-icon h1::before{
        @include before-icon(20px, 10px, $file_icon);
    }
    &.accordion-link-icon h1::before {
        @include before-icon(20px, 10px, $file_icon);
    }
}