/*
    ========= REGIONS ==========

    Estilos dedicados a los estilos de las regiones de la web.

       Se ha hecho uso de los siguientes MIXINS:
    
        @mixin grid-column-region($columns, $justify, $align, $gap)

        @mixin display_flex($direction, $justify_content, $align_items)

    ------------------------- MIXINS --------------------------
    grid-coloumn-region = Estilo de grid de las regiones del
    tema

    ----------------------- VARIABLES -------------------------
    $columns = Número de columnas que va a tener el Grid

    $justify = Alineación horizontal de los ítems del grid

    $align = Alineación vertical de los ítems del grid

    $gap = Espacio entre las áreas del grid

    $direction = Propiedad flex-direction (Flex)

    $justify_content = Propiedad justify-content (Flex)

    $align_items = Propiedad align-items (Flex)
*/


.ps_header_2_col {

    
    padding: 5px 0;

    &-left-right {
        @include grid-column-region(repeat(2, 1fr), initial, center, 20px);
    }

    .header_col_right {
        .region-header-derecho-2-2 {
            @include display_flex(row, center, center);
        }
    }
}

.ps_header_3_col {
    &-left-main {
        @include grid-column-region(1fr 2fr, initial, center, 20px);
    }

    &-main-right {
        @include grid-column-region(2fr 1fr, initial, center, 20px);
    }

    &-left-main-right {
        @include grid-column-region(1fr 2fr 1fr, initial, center, 20px);
    }
}

.ps_header_site_2_col {
    &-left-right {
        @include display_flex(row, initial, center);
    }
}




.ps_layout.ps-left-main {
    @include grid-column-region(1fr 4fr, initial, initial, 20px);

    @media (max-width: 800px) {
        grid-template-columns: 4fr 8fr;
    }
}
.ps_layout.ps-main-right {
    @include grid-column-region(4fr 1fr, initial, initial, 20px);

    @media (max-width: 800px) {
        grid-template-columns: 8fr 4fr;
    }
}
.ps_layout.ps-left-main-right {
    @include grid-column-region(1fr 3fr 1fr, initial, initial, 20px);

    @media (max-width: 800px) {
        grid-template-columns: 4fr 4fr 4fr;
    }
}




.ps_footer_2_col {
    &-left-right {
        @include grid-column-region(repeat(2, 1fr), initial, center, 20px);
    }
}

.ps_footer_3_col {
    &-left-main {
        @include grid-column-region(1fr 2fr, initial, center, 20px);
    }

    &-main-right {
        @include grid-column-region(2fr 1fr, initial, center, 20px);
    }

    &-left-main-right {
        @include grid-column-region(1fr 2fr 1fr, center, center, 20px);
    }
}

