.ps-node-26939 {
  #block-bne-theme-contenidoprincipaldelapagina {
    h1 {
      padding: 0 15px;

      @media (min-width: 992px) {
        padding: 0em 3em 0 3em;
      }
    }
    padding: 0.9em 0 0 1em !important;

    @media (max-width: 1299.98px) {
      padding: 0.9em 0px 0px 0px !important;
    }
  }
}

.ps-node-26939 {
  // estilos para el select de la ordenacion de archivo de la web
  .select2-results__option {
    padding: 0.8em 5px 0.8em 10px;
  }
  .select2-container .select2-selection--single .select2-selection__rendered {
    padding-right: 20px;
    padding-left: 10px;
  }
  .select2-container--default .select2-selection--single {
    min-width: 130px;
  }
  .select2-container--default .select2-selection--single {
    height: 42px;
  }
  .select2 .select2-selection .select2-selection__rendered {
    height: 42px;
  }
  span.select2-results {
    min-width: 130px;
  }
  .select2-results__option {
    background-color: $blanco;
  }

  //-------------------------------------------------------------------------------

  @media (min-width: 992px) and (max-width: 1300px) {
    main .ps_layout.ps-left-main {
      grid-template-columns: 100%;
    }
    #bloque-filtros-archivos-web {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-gap: 50px;
    }
  }
  @media (max-width: 1299.98px) {
    .layout-sidebar-first {
      display: none !important;
    }
    .layout-sidebar-first.aweb-content-hide {
      display: block !important;
    }
    main .ps_layout.ps-left-main .layout-sidebar-first {
      padding: 30px 15px !important;
      margin: 0;
    }
    .ps-breadcrumb-region {
      display: none !important;
    }
    .ps-breadcrumb-region #block-bne-theme-enlacesdeayudaalanavegacion {
      display: none !important;
    }
    #block-bloquedenavegacionsidebarmovilbne {
      display: block !important;
    }
  }
  @media (min-width: 1300px) {
    #block-bloquedenavegacionsidebarmovilbne {
      display: none !important;
    }
    main .ps_layout.ps-left-main .layout-sidebar-first {
      // padding: 5em 15px 15px 40px;

      padding: 0 15px 15px 15px;
      margin: 0;

      @media (min-width: 992px) {
        padding: 5em 15px 15px 40px;
      }

      @media (min-width: 1500px) {
        padding: 5em 50px 15px 60px;
      }

      @media (min-width: 1700px) {
        padding: 5em 50px 15px 80px;
      }
    }
  }
}

.ps-listado-archivo-web {
  .select2-results__option {
    padding: 0.8em 5px 0.8em 10px;
  }
  .view-filters {
    margin-bottom: 1em;
    .views-exposed-form {
      padding: 0 15px;

      @media (min-width: 992px) {
        padding: 0em 3em 0 3em;
      }

      .form--inline {
        #ps-archivo-web-reload {
          display: none;
        }

        .bef--secondary {
          margin-top: 1em;

          .details-wrapper {
            @media (max-width: 768px) {
              flex-direction: row;
            }
            summary {
              margin-left: auto;
              a {
                svg {
                  width: 13px;
                  height: auto;
                  path {
                    fill: $bne_color_6;
                  }
                }
                span {
                  font-size: 14px;
                  color: $bne_color_6;
                }
              }
              &::after {
                display: none;
              }
            }
            .ayuda-archivo-link {
              margin-left: 1rem;
              svg {
                width: 20px;
              }
            }
            .title {
              margin-right: 1em;
              h2 {
                font-size: 14px;
                color: $bne_color_1;
                font-weight: 500;
              }
            }
            .form-item {
              label {
                display: flex;
              }
            }
            .form-type-checkbox {
              input {
                display: none;
              }
              input[type="checkbox"]:checked + label::before {
                display: inline-block;
                position: relative;
                content: "";
                filter: $filter_icon;
                background-image: url(/themes/contrib/bne_theme/recursos/check.svg);
                background-repeat: no-repeat;
                background-size: 0.8em;
                background-position: center;
                height: 0.9em;
                width: 0.9em;
                margin-right: 0.5em;
                border: 1px solid $bne_color_6;
                padding: 1px;
              }

              label::before {
                content: "";
                background: transparent;
                border: 1px solid $bne_color_1;
                border-radius: 2px;
                height: 0.9em;
                width: 0.9em;
                margin-right: 0.5em;
                background-repeat: no-repeat;
                display: inline-block;
                text-align: center;
                vertical-align: middle;
                padding: 1px;
              }
            }
            .form-type-textfield {
              display: block;
              width: 100%;
              margin-top: 1em;

              input {
                height: 40px;
                width: 100% auto;
              }
            }
            .form-type-select {
              display: flex;
              flex-direction: row;
              align-items: center;
              label {
                margin-right: 10px;
              }
              @media (max-width: 768px) {
              flex-direction: column;
              align-items: flex-start;
              label{
                margin-bottom: 5px;
              }
              }
            }
          }
          .item-oculto {
            display: none !important;
            label {
              display: block;
            }
          }
        }

        .ps-archivo-web-reload {
          display: none;
        }
      }
    }
  }

  .total-registros {
    display: flex;
    align-items: center;
    margin-bottom: 1em;
    .num {
      margin-left: 5px;
      color: $negro;
      margin-right: 12px;
    }
    .termino {
      color: $negro;
      margin-left: 5px;
      font-weight: 700;
    }
  }

  .view-content {
    margin-bottom: 0;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: 576px) {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: 992px) {
      grid-template-columns: 1fr 1fr 1fr;
    }

    @media (min-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
    }

    .view-row {
      padding: 20px 30px;
      border: 0.5px solid $bne_color_3;
      min-height: 100px;
      cursor: pointer;
      .etiqueta-coleccion {
        @include etiqueta();
        margin-bottom: 1em;
      }
      .etiqueta-materia {
        @include etiqueta();
        margin-bottom: 5px;
      }
      .titulo {
        font-family: $dm-serif;
        font-weight: $dm-serif-regular;
        font-size: 18px;
        color: $negro;
        line-height: 26px;
        margin-bottom: 1em;
      }
      .url {
        margin-bottom: 1em;
        div {
          @include estilos_body();
          text-overflow: ellipsis;
          overflow: hidden;
          // word-break: break-word;
          line-height: 24px;

          width: 200px;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
          @media (min-width: 450px) {
            width: 350px;
          }
          @media (min-width: 576px) {
            width: 200px;
          }
          @media (min-width: 768px) {
            width: 300px;
          }

          @media (min-width: 992px) {
            width: 175px;
          }
          @media (min-width: 1300px) {
            width: 250px;
          }

          @media (min-width: 1600px) {
            width: 225px;
          }
        }
      }
      .url-alternativa {
        //text-overflow: ellipsis;
        // overflow: hidden;
        @include estilos_body();
        word-break: break-word;
        margin-bottom: 1em;
        line-height: 24px;
        // width: 200px;
        // white-space: nowrap;
        // text-overflow: ellipsis;
        // overflow: hidden;
        // @media (min-width: 450px) {
        //   width: 350px;
        // }
        // @media (min-width: 576px) {
        //   width: 200px;
        // }
        // @media (min-width: 768px) {
        //   width: 300px;
        // }

        // @media (min-width: 992px) {
        //   width: 175px;
        // }
        // @media (min-width: 1300px) {
        //   width: 250px;
        // }

        // @media (min-width: 1600px) {
        //   width: 225px;
        // }
      }
      .palabras-claves {
        .etiqueta {
          @include etiqueta();
          margin-bottom: 5px;
        }
      }
    }
    .no-archivo-web-result {
      display: none;
    }
  }
  .no-archivo-web-result {
    display: none;
    font-size: 38px;
    color: $negro;
    font-family: $dm-serif;
    font-weight: $dm-serif-regular;
    line-height: 52px;
    padding: 0.5em 10%;
  }
  .pager {
    ul {
      justify-content: space-between;
      li {
        cursor: pointer;
      }
      .pager__item--previous {
        margin-right: auto;
        padding-left: 1em;
        span {
          font-size: 16px;
          color: $bne_color_2;
          line-height: 24px;
          letter-spacing: 0.96px;
          &::before {
            content: "";
            width: 10px;
            height: 10px;
            display: inline-block;
            background: url(/themes/contrib/bne_theme/recursos/page_item_first.svg)
              no-repeat center;
            background-size: 10px;
            margin-right: 5px;
          }
        }
      }
      .pager__item--page {
        @media (max-width: 576px) {
          display: none;
        }
        margin: 0 auto;
        span {
          font-size: 16px;
          color: $bne_color_2;
          line-height: 24px;
          letter-spacing: 0.96px;
        }
      }
      .pager__item--next {
        margin-left: auto;
        margin-right: 1em;
        span {
          font-size: 16px;
          color: $bne_color_2;
          line-height: 24px;
          letter-spacing: 0.96px;
          &::after {
            content: "";
            width: 10px;
            height: 10px;
            display: inline-block;
            background: url(/themes/contrib/bne_theme/recursos/page_item_first.svg)
              no-repeat center;
            background-size: 10px;
            margin-left: 5px;
            transform: rotate(180deg);
          }
        }
      }
      .inactive {
        visibility: hidden;
        span {
          color: $bne_color_3;
        }
      }
    }
  }
}

#bloque-filtros-archivos-web {
  .quitar-filtros {
    padding-bottom: 1.5em;
    display: none;
    a {
      color: $bne_color_5;
      font-size: 16px;
    }
  }
  .block-facets-web {
    .facet-title {
    }
    ul {
      margin-block-start: 0;
      display: block;
      .facet-item-principal {
        display: flex;
        align-items: center;
        .facet-item__count {
          margin-left: 5px;
          color: $alerta_color;
        }

        .collapse-button {
          height: 25px;
          width: 25px;
          cursor: pointer;
          margin-left: auto;
          display: flex;
          justify-content: center;
          align-items: center;
          svg {
            transition: all 0.5s ease;
            width: 13px;
            height: auto;
            path {
              fill: $bne_color_2;
            }
          }
        }
        .collapse-button.rotate-icon {
          svg {
            transition: all 0.5s ease;
            transform: rotate(-180deg);
          }
        }
        .facet-item-principal-active {
          path {
            fill: $bne_color_6 !important;
          }
        }
        label {
          cursor: pointer;
        }
      }
      .facet-item {
        padding: 1em 0 0 0;
        &:hover {
          .collapse-button {
            svg {
              path {
                fill: $bne_color_6;
              }
            }
          }
        }
      }
    }

    .subcolecciones,
    .submaterias {
      display: none;
      padding-left: 20px;
      margin-bottom: 1em;
    }
  }
}

#bloque-filtros-archivos-web {
  .block-facets-web {
    margin-bottom: 2em;

    h4 {
      font-size: 14px;
      color: $negro;
      line-height: 20px;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      font-weight: 500;
      margin-block-end: 0px;
      margin-block-start: 0px;
    }

    .title-facet {
      font-size: 14px;
      color: $negro;
      line-height: 20px;
      letter-spacing: 0.42px;
      text-transform: uppercase;
      font-weight: 500;
      margin-block-end: 0px;
      margin-block-start: 0px;
    }

    .facets-widget-checkbox {
      h3 {
        font-size: 14px;
        color: $negro;
        line-height: 20px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        font-weight: 500;
        margin-block-end: 0px;
      }

      .facet-title {
        display: block;
        font-size: 14px;
        color: $negro;
        line-height: 20px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        font-weight: 500;
        margin-block-end: 0px;
      }

      @media (min-width: 992px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
      }

      ul {
        display: inline-block;
        margin-block-end: 0px;

        li {
          padding-bottom: 15px;
          .facets-widget- {
            padding-top: 15px;
          }

          &:last-child {
            padding-bottom: 0;
          }

          input {
            display: none;
          }

          label {
            // display: flex;
            // align-items: center;
            // display: grid;
            // grid-template-columns: 14px 1fr;
            // grid-gap: 10px;

            span.facet-item__value {
              font-size: 16px;
              color: $bne_color_1;
              letter-spacing: 0.96px;
            }

            span.facet-item__count {
              margin-left: 10px;
              font-size: 16px;
              color: $bne_color_1;
              line-height: 24px;
              letter-spacing: 0.96px;
            }
          }

          // input[type="checkbox"]:checked+label::before {
          //   display: inline-block;
          //   position: relative;
          //   content: "";
          //   filter: $filter_icon;
          //   background-image: url(/themes/contrib/bne_theme/recursos/check.svg);
          //   background-repeat: no-repeat;
          //   background-size: 0.8em;
          //   background-position: center;
          //   height: 0.9em;
          //   width: 0.9em;
          //   margin-right: 0.5em;
          //   border: 1px solid $bne_color_6;
          //   padding: 1px;
          // }
          .check {
            content: "";
            background: transparent;
            border: 1px solid $bne_color_1;
            border-radius: 2px;
            height: 14px;
            width: 14px;
            min-width: 14px;
            margin-right: 0.5em;
            background-repeat: no-repeat;
            display: inline-block;
            text-align: center;
            vertical-align: middle;
            padding: 1px;
          }
          .check.activo {
            display: inline-block;
            position: relative;

            filter: $filter_icon;
            background-image: url(/themes/contrib/bne_theme/recursos/check.svg);
            background-repeat: no-repeat;
            background-size: 0.8em;
            background-position: center;
            height: 14px;
            width: 14px;
            min-width: 14px;
            margin-right: 0.5em;
            border: 1px solid $bne_color_6;
            padding: 1px;
          }

          // label::before {
          //   content: "";
          //   background: transparent;
          //   border: 1px solid $bne_color_1;
          //   border-radius: 2px;
          //   height: 0.9em;
          //   width: 0.9em;
          //   margin-right: 0.5em;
          //   background-repeat: no-repeat;
          //   display: inline-block;
          //   text-align: center;
          //   vertical-align: middle;
          //   padding: 1px;
          // }
        }
      }
    }

    .facets-widget-dropdown {
      h3 {
        font-size: 14px;
        color: $negro;
        line-height: 20px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        font-weight: 500;
      }

      .facet-title {
        font-size: 14px;
        color: $negro;
        line-height: 20px;
        letter-spacing: 0.42px;
        text-transform: uppercase;
        font-weight: 500;
        margin-bottom: 5px;
        display: block;
      }

      select {
        border: 0.5px solid $bne_color_3;
        height: 50px;
        font-size: 14px;
        color: $bne_color_1;
        line-height: 20px;
        letter-spacing: 0.42px;
        background-color: $blanco;
        width: 100%;
        padding: 5px 10px;

        background-image: url(/themes/contrib/bne_theme/recursos/layer2.svg);
        /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
        background-repeat: no-repeat;
        background-position: right center;
        -webkit-appearance: none;
        -moz-appearance: none;
        -o-appearance: none;
        appearance: none;
        background-position-x: 96%;
        background-size: 14px;

        option {
          &:hover {
            background: $bne_color_6 !important;
          }
        }
      }

      select::-ms-expand {
        display: none;
        /*Evita que se muestre la flecha por defecto en versiones de IE*/
      }

      // .select2 {
      //   .select2-selection {
      //     height: 50px;
      //     border-radius: 0;
      //     border: 0.5px solid $bne_color_3;
      //     .select2-selection__rendered {
      //       height: 50px;
      //       display: flex;
      //       align-items: center;
      //       color: $bne_color_1;
      //       line-height: 20px;
      //       letter-spacing: 0.42px;
      //       font-family: "Roboto";
      //       font-weight: 400;

      //       background-image: url(/themes/contrib/bne_theme/recursos/layer2.svg); /*aquí deberás escribir la ruta de la imagen que utilizarás como flecha del desplegable*/
      //       background-repeat: no-repeat;
      //       background-position: right center;
      //       -webkit-appearance: none;
      //       -moz-appearance: none;
      //       -o-appearance: none;
      //       appearance: none;
      //       background-position-x: 96%;
      //       background-size: 14px;
      //     }
      //     .select2-selection__arrow {
      //       display: none;
      //     }
      //   }
      // }
    }
  }
}

.modal-archivo {
  display: none; /* Ocultar el popup al principio */
  position: fixed; /* Posición fija en la pantalla */
  z-index: 1; /* Establecer la posición más alta en la pantalla */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto; /* Permitir desplazamiento en caso de que el contenido del popup sea demasiado grande */
  background-color: rgba(0, 0, 0, 0.4); /* Fondo oscuro */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* Centrar el popup verticalmente y dejar margen en la parte superior e inferior */
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
      font-weight: 500;
      line-height: 24px;
      text-align: center;
    }
    .close-modal-web {
      color: $blanco;
      font-size: 16px;
      letter-spacing: 0.96px;
      line-height: 24px;
      font-weight: bold;
      padding: 10px 20px;
      border: none;
      background-color: $bne_color_5;
    }
    @media (max-width: 1200px) {
      margin: 25% auto;
    }
    @media (max-width: 768px) {
      margin: 50% auto;
    }
    @media (max-width: 576px) {
      margin: 60% auto;
      width: 250px;
    }

    .close-modal-web:hover,
    .close-modal-web:focus {
      text-decoration: none;
      cursor: pointer;
    }
  }
}
