.page-node-type-evento {
  #block-bne-theme-contenidoprincipaldelapagina {
    h1 {
      .field--name-title {
        display: none;
      }
    }

    article {
      .node__content {
        .layout {
          &:nth-child(1) {
            .layout__region {
              .block-field-blocknodeeventofield-marca-agua {
                margin-bottom: 2em;

                .field--name-field-marca-agua {
                  .field__item {
                    width: 100%;
                    height: 72px;
                    background: $bne_color_5;
                    font-size: 22px;
                    font-family: $dm-serif;
                    font-weight: $dm-serif-regular;
                    color: $blanco;
                    line-height: 30px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                  }
                }
              }

              .block-field-blocknodeeventofield-tipo {
                margin-bottom: 1em;

                .field--name-field-tipo {

                  .field__item{
                    @include etiqueta();
                    line-height: 16px;
                    letter-spacing: 0.07px;
                    margin-bottom: 5px;
                  }
                }
              }

              .block-field-blocknodeeventotitle {
                margin: 0.5em 0 0.9em 0;

                .field--name-title {
                  @include estilo_h1();
                }
              }

              .block-field-blocknodeeventofield-subtitulo {
                .field--name-field-subtitulo {
                  font-size: 16px;
                  font-weight: bold;
                  color: $bne_color_1;
                  line-height: 34px;
                  letter-spacing: 0.48px;
                  margin-bottom: 1em;

                }
              }
            }
          }

          &:nth-child(2) {
            .layout__region {
              .block-views-blockentidades-nodo-fecha-evento {
                margin-bottom: 1.9em;
                border-left: 2px solid $bne_color_6;
                padding-left: 1em;

                .view-content {
                  .views-row {
                    .fecha-dia {
                      text-transform: lowercase;

                      &::first-letter {
                        text-transform: uppercase;
                      }

                      time {
                        font-size: 18px;
                        color: $bne_color_1;
                        line-height: 30px;
                        letter-spacing: 0.54px;



                      }


                    }

                    .fecha-hora {
                      time {
                        font-size: 18px;
                        color: $bne_color_1;
                        line-height: 30px;
                        letter-spacing: 0.54px;
                      }

                      .hora-fin {
                        padding-left: 5px;
                      }
                    }

                    .fecha-desde-hasta,
                    .fecha-anio {
                      text-transform: lowercase;

                      &::first-letter {
                        text-transform: uppercase;
                      }

                      time {
                        font-size: 18px;
                        color: $bne_color_1;
                        line-height: 30px;
                        letter-spacing: 0.54px;
                        font-weight: 500;

                      }
                    }
                  }
                }
              }
            }
          }

          &:nth-child(3) {
            .layout__region {
              .block-field-blocknodeeventofield-intervalo-add-to-cal {
                margin: 0.9em 0;

                .field {
                  display: flex;
                  flex-direction: column;
                  align-items: flex-start;

                  .field__item {
                    font-size: 0;

                    .addtocal-container {
                      button {

                        border: none;
                        background: none;
                        display: flex;
                        align-items: center;
                        margin-bottom: 0.5em;
                        font-size: 16px;
                        color: $bne_color_6;
                        letter-spacing: 0.48px;
                        font-weight: 400;

                        &:hover {
                          text-decoration: underline;
                          color: $bne_color_6;
                        }

                        // &::after {
                        //   content: "Añadir al calendario";
                        //   font-size: 16px;
                        //   color: $bne_color_6;
                        //   letter-spacing: 0.48px;
                        //   font-weight: 400;
                        // }
                        &::before {
                          content: "";
                          height: 17px;
                          display: block;
                          width: 15px;
                          background: url(/themes/contrib/bne_theme/recursos/calendario-red.svg) no-repeat center;
                          background-size: 15px;
                          margin-right: 10px;
                        }
                      }

                      .addtocal-menu {
                        background: $bne_color_4;
                        border: 0.5px solid $bne_color_3;

                        ul {
                          padding: 10px;
                        }

                        li {
                          &:nth-child(2) {
                            display: none;
                          }

                          &:nth-child(3) {
                            display: none;
                          }

                          a {
                            color: $bne_color_2;
                            font-size: 16px;
                          }
                        }
                      }
                    }
                  }
                }
              }

              .block-field-blocknodeeventofield-imagen-cabecera {
                margin: 1.9em 0em;

                .field--name-field-imagen-cabecera {
                  .field__item {
                    display: flex;
                    justify-content: flex-start;

                    img {
                      width: auto;
                      height: auto;
                      object-fit: cover;
                    }
                  }
                }
              }

            }
          }

          &:nth-child(4) {
            border: 0.5px solid $bne_color_3;
            padding: 30px;


            .layout__region {
              display: grid;
              grid-template-columns: 1fr;
              grid-gap: 1.9em;

              @media (min-width: 578px) {
                grid-template-columns: 1fr 1fr;
              }

              @media (min-width: 992px) {
                grid-template-columns: 1fr 1fr 1fr;
              }

              .field {
                .field__label {
                  font-size: 18px;
                  font-family: $dm-serif;
                  font-weight: $dm-serif-regular;
                  color: $negro;
                  line-height: 24px;
                  margin-bottom: 0.5em;
                }

                .field__item {
                  font-size: 16px;
                  color: $bne_color_2;
                  line-height: 24px;
                  letter-spacing: 0.48px;

                  span {
                    padding-left: 0;
                  }

                  a {
                    font-size: 16px;
                    color: $bne_color_6;
                    line-height: 24px;
                    letter-spacing: 0.48px;
                    font-weight: 400;

                    &:hover {
                      text-decoration: underline;
                    }
                  }

                  p {
                    font-size: 16px;
                    color: $bne_color_2;
                    line-height: 24px;
                    letter-spacing: 0.48px;
                    margin-block-start: 0;
                    margin-block-end: 0;

                    &::first-letter {
                      text-transform: uppercase;
                    }
                  }
                }
              }
              article{
                .field--name-body{
                  p {
                    font-size: 16px;
                    color: $bne_color_2;
                    line-height: 24px;
                    letter-spacing: 0.48px;
                    margin-block-start: 0;
                    margin-block-end: 0;

                    &::first-letter {
                      text-transform: uppercase;

                    }
                  }

                }
              }

              .block-views-blockentidades-nodo-programa-evento {
                h1 {
                  font-size: 18px;
                  font-family: $dm-serif;
                  font-weight: $dm-serif-regular;
                  color: $negro;
                  line-height: 24px;
                  margin: 0 0 1em 0;
                }

                .view-content {
                  .views-row {
                    .views-field-field-archivo {
                      .field-content {
                        .descargar-programa {
                          position: relative;
                          color: $bne_color_6;

                          &:hover {
                            text-decoration: underline;
                          }

                          article {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;

                            .field--name-name {
                              display: none;
                            }

                            .field--name-field-media-file {
                              .file {
                                background-image: none;
                                display: block;

                                a {
                                  display: block;
                                  width: 100%;
                                  height: 100%;
                                  font-size: 0;
                                }
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }

              .node--type-horarios {
                h2 {
                  display: none;
                }

                .node__content {
                  .field--name-field-nombre {
                    font-size: 18px;
                    font-family: $dm-serif;
                    font-weight: $dm-serif-regular;
                    color: $negro;
                    line-height: 24px;
                    margin-bottom: 0.5em;
                  }
                }
              }
            }
          }

          &:nth-child(5) {
            .layout__region {
              margin-bottom: 1.9em;
              display: flex;

              @media (max-width: 575.98px) {
                display: block;
              }

              .block {
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                width: 100%;
                height: 60px;
                background: $bne_color_4;
                border: 0.5px solid $bne_color_3;

                .field {
                  .field__label {
                    font-size: 16px;
                    color: $bne_color_2;
                    line-height: 24px;
                    letter-spacing: 0.96px;
                  }

                  .field__item {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;

                    a {
                      display: block;
                      width: 100%;
                      height: 100%;
                      font-size: 0;
                    }
                  }
                }
              }

              .block-field-blocknodeeventofield-enlace-formulario-inscripc {
                .field {
                  .field__label {
                    display: flex;
                    align-items: center;

                    &::before {
                      content: "";
                      height: 15px;
                      display: block;
                      width: 20px;
                      background: url(/themes/contrib/bne_theme/recursos/sobre-formulario.svg) no-repeat center;
                      background-size: 18px;
                      margin-right: 10px;
                    }
                  }
                }
              }

              .block-field-blocknodeeventofield-url {
                .field {
                  .field__label {
                    display: flex;
                    align-items: center;

                    &::before {
                      content: "";
                      height: 15px;
                      display: block;
                      width: 20px;
                      background: url(/themes/contrib/bne_theme/recursos/video.svg) no-repeat center;
                      background-size: 18px;
                      margin-right: 10px;
                    }
                  }
                }
              }
            }
          }

          &:nth-child(6) {
            .layout__region {
              .block-field-blocknodeeventofield-mas-informacion {
                margin: 1.9em 0;

                .field__label {
                  cursor: pointer;
                  font-family: $dm-serif;
                  font-weight: $dm-serif-regular;
                  font-size: 18px;
                  font-weight: 500;
                  color: $negro;
                  line-height: 24px;
                  letter-spacing: 0px;
                  display: flex;
                  justify-content: space-between;
                  align-items: center;
                  padding: 15px 30px 15px 30px;
                  border: 0.5px solid $bne_color_3;

                  &::after {
                    content: "";
                    height: 15px;
                    width: 15px;
                    background: url(/themes/contrib/bne_theme/recursos/signo-mas.svg) no-repeat center;
                    background-size: 15px;
                    display: flex;
                    align-items: center;
                    transition: all 0.5s ease;
                  }
                }

                .change-collapsable-icon {
                  &::after {
                    content: "";
                    height: 15px;
                    width: 15px;
                    background: url(/themes/contrib/bne_theme/recursos/signo-menos.svg) no-repeat center;
                    background-size: 15px;
                    display: flex;
                    align-items: center;
                    transition: all 0.5s ease;
                  }
                }

                .field__item {
                  display: none;
                  padding: 15px 30px 15px 30px;
                  border-left: 0.5px solid $bne_color_3;
                  border-right: 0.5px solid $bne_color_3;
                  border-bottom: 0.5px solid $bne_color_3;

                  h1 {
                    font-family: $dm-serif;
                    font-weight: $dm-serif-regular;
                    font-size: 38px;
                    color: $negro;

                    &::after {
                      display: none;
                    }
                  }

                  h2 {
                    font-family: "Roboto";
                    font-weight: 500;
                    font-size: 28px;
                    color: $negro;

                    &::after {
                      display: none;
                    }
                  }

                  h3 {
                    font-family: "Roboto";
                    font-weight: 500;
                    font-size: 24px;
                    color: $negro;

                    &::after {
                      display: none;
                    }
                  }

                  h4 {
                    font-family: "Roboto";
                    font-weight: 500;
                    font-size: 20px;
                    color: $negro;

                    &::after {
                      display: none;
                    }
                  }

                  h5 {
                    font-family: "Roboto";
                    font-weight: 500;
                    font-size: 18px;
                    color: $negro;

                    &::after {
                      display: none;
                    }
                  }

                  h6 {
                    font-family: "Roboto";
                    font-weight: 500;
                    font-size: 16px;
                    color: $negro;

                    &::after {
                      display: none;
                    }
                  }

                  p {
                    font-family: "Roboto";
                    font-weight: 400;
                    font-size: 16px;
                    color: $bne_color_2;
                    line-height: 34px;
                    letter-spacing: 0.48px;
                  }

                  a {
                    font-family: "Roboto";
                    font-weight: 500;
                    color: $bne_color_6;
                  }
                }
              }

              .block-field-blocknodeeventobody {
                margin: 1.9em 0;
              }

              .block-field-blocknodeeventofield-comisariado {
                margin: 1.9em 0;
                .field--name-field-comisariado {
                  .field__label {
                    font-size: 18px;
                    font-family: $dm-serif;
                    font-weight: $dm-serif-regular;
                    color: $negro;
                    line-height: 24px;
                    margin-block-start: 0px;
                    margin-block-end: 0px;
                  }

                  .field__item {
                    a {
                      font-size: 16px;
                      color: $bne_color_6;
                      line-height: 24px;
                      letter-spacing: 0.48px;
                      font-weight: 400;
                      text-decoration: none;

                      &:hover {
                        text-decoration: underline;
                      }
                    }
                  }
                }
              }

              .block-views-blockentidades-nodo-subvenciona-evento,
              .block-views-blockentidades-nodo-colabora-evento,
              .block-views-blockentidades-nodo-organiza-evento,
              .block-views-blockentidades-nodo-patrocina-evento {
                margin: 1.9em 0;

                h1 {
                  font-size: 18px;
                  font-family: $dm-serif;
                  font-weight: $dm-serif-regular;
                  color: $negro;
                  line-height: 24px;
                  margin-block-start: 0px;
                  margin-block-end: 0px;
                  margin-bottom: 1em;
                }

                .view-content {
                  display: grid;
                  grid-template-columns: 1fr;
                  grid-column-gap: 0.9em;
                  grid-row-gap: 0.9em;

                  @media (min-width: 576px) {
                    grid-template-columns: 1fr 1fr;
                  }

                  @media (min-width: 992px) {
                    grid-template-columns: 1fr 1fr 1fr;
                  }

                  .views-row {
                    border: 0.5px solid $bne_color_3;
                    padding: 10px;
                    position: relative;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    .views-field-nothing {
                      .field-content {
                        .container-image {
                          .field__item {
                            display: flex;
                          }

                          .imagen {
                            img {
                              width: 100%;
                              height: auto;
                              max-height: 100px;
                            }
                          }

                          .titulo {
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;

                            a {
                              display: block;
                              width: 100%;
                              height: 100%;
                              font-size: 0;
                            }
                          }
                        }

                        .container-title {
                          height: 100%;
                          min-height: 60px;

                          .titulo {
                            width: 100%;
                            height: 100%;

                            a {
                              padding: 0 5%;
                              position: absolute;
                              top: 0;
                              left: 0;
                              z-index: 20;
                              display: flex;
                              justify-content: center;
                              align-items: center;
                              width: 90%;
                              height: 100%;
                              font-size: 16px;
                              color: $bne_color_1;
                              text-align: center;
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}

.ps-cursos-filtrados {
  .view-content {


    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 1.9em;

    @media (min-width: 576px) {
      grid-template-columns: 1fr 1fr;
      h3 {
        grid-column: span 2;
      }
    }

    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
      h3 {
        grid-column: span 3;
      }
    }

    @media (min-width: 1600px) {
      grid-template-columns: repeat(4, 1fr);
      h3 {
        grid-column: span 4;
      }
    }

    h3 {
      margin-top: 1.9em;
      font-size: 1.25em;
      color: $negro;
      line-height: 24px;
      font-family: "DM Serif Text", serif;
      font-weight: 400;
      letter-spacing: 0;
    }

    .views-row {
      padding: 30px;
      border: 0.5px solid #d3d3d3;
      cursor: pointer;

      .views-field-title {
        height: 100%;
        .container {

          display: flex;
          flex-direction: column;
          height: 100%;

          .titulo {
            margin-bottom: 0.9em;
            a {
              font-size: 18px;
              font-family: $dm-serif;
              font-weight: $dm-serif-regular;
              color: $negro;
              line-height: 30px;
            }
          }
          .etiqueta{
            margin-top: 1em;
            font-family: "Roboto";
            font-weight: 400;
            font-size: 16px;
            color: #606060;
            line-height: 24px;
            letter-spacing: 0.48px;
          }

          .descripcion {
            margin-top: 1em;
            font-family: "Roboto";
            font-weight: 400;
            font-size: 16px;
            color: #606060;
            line-height: 24px;
            letter-spacing: 0.48px;

            p {
              font-family: "Roboto";
              font-weight: 400;
              font-size: 16px;
              color: #606060;
              line-height: 34px;
              letter-spacing: 0.48px;
            }
          }

          .duracion {

            margin-top: 1em;
            font-family: "Roboto";
            font-weight: 400;
            font-size: 14px;
            color: $bne_color_1;
            line-height: 24px;
            letter-spacing: 0.48px;
            margin-top: auto !important;
            p {
              margin-top: 1em;
              font-family: "Roboto";
              font-weight: 400;
              font-size: 14px;
              color: $bne_color_1;
              line-height: 24px;
              letter-spacing: 0.48px;
            }
          }
        }
      }
    }
  }
}