.page-node-type-galeria-de-documentos {
.ps-rrss-share{
    max-width: 1366px;
    margin: 0 auto;
}
  #block-bne-theme-contenidoprincipaldelapagina {
    padding: 15px;
    max-width: 1366px;
    margin: 0 auto;

  }
  .view-documentos-enlaces-de-la-pagina {
padding: 15px;
    background: none;
    .view-header {
      max-width: 1366px;
      margin: 0 auto;
    }
    .view-content {
      max-width: 1366px;
      margin: 0 auto;
    }
  }
}
