.path-frontpage{
    .ps-content-margins {

        padding: 0 15px;

        // A partir de 992px
        @media screen and (min-width: 992px){
            max-width: 1920px;
            margin: 0 auto;
            padding: 0 30px;
        }
        .ps-enlace-view{
            max-width: 1366px;
            margin: 0 auto;
        }

    }
}