.block-views-blockgaleria-de-videos-pagina-block-1{
    background-color: $negro;

    .view-content{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        margin: auto;
        padding: 30px 10%;

        @media (max-width: 992px) { 
            padding: 30px 5%
        }

        @media (max-width: 768px) { 
            grid-template-columns: repeat(1, 1fr);
            gap: 40px;
            padding: 30px 30px;
        }

        @media (max-width: 576px) { 
            padding: 30px 15px;
        }

        .views-row{
            .views-field-field-media-oembed-video{
                .field-content{
                    iframe{
                        width: 100%;
                        height: 326px;

                        @media (max-width: 768px) { 
                            height: 300px;
                        }

                        @media (max-width: 576px) {
                            height: 190px;
                        }

                    }
                }
            }
            .views-field-title{
                span{
                    font-size: 18px;
                    margin-top: 10px;
                    display: flex;
                    color: white;
                }
            }
        }
    }
    .view-footer{
        height: 84px;
        border-left: 0.5px solid $bne_color_3;
        background: $bne_color_4;
        a{
            line-height: 24px;
            color: $bne_color_2;
            font-size: 16;
            font-weight: 400;
            letter-spacing: 0.96px;
            display: block;
            //width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 0.5px solid $bne_color_3;
            border-bottom: 0.5px solid $bne_color_3;
            margin: 0;
        }
      }
}