//Estilos menu seleccionar perfil
.menu-select-perfil {
  .menu {
    padding-right: 1.9em;

    .menu-item {
      // margin: 0 0 15px 0;
      list-style: none;

      a {
        font-size: 16px;
        color: $bne_color_1;
        display: block;
      }

      p {
        font-size: 16px;
        color: $bne_color_1;
      }

      ul {
        padding: 15px 20px;

        li {
          padding: 0;
          min-height: 48px;
          display: flex !important;
          align-items: center;
          margin: 0 !important;


          a {
            font-size: 14px;
            color: $bne_color_2;
          }

          p {
            font-size: 14px;
            color: $bne_color_2;
          }
        }
      }
    }
  }

  .menu-item--expanded {
    padding: 0;
    position: relative;
    padding-right: 25px;

    @media (min-width: 300px) and (max-width: 992px) {
      &::before {
        content: url(/themes/contrib/bne_theme/recursos/usuario.svg);
        height: 18px;
        width: 18px;
      }

      ul.menu {
        width: 120px;
        right: 0;
        top: 34px;
      }
    }

    a {
      display: block;
    }

    span {
      display: inline-block;
      font-size: 14px;
      color: $bne_color_4;
      cursor: pointer;
      text-transform: lowercase;
      &::first-letter{
        text-transform: uppercase;
      }
    }


    @media (min-width: 300px) and (max-width: 992px) {
      span {
        font-size: 0;
      }
    }

    button {
      content: "";
      height: 14px;
      width: 14px;
      background: url(/themes/contrib/bne_theme/recursos/arrow_down_white.svg) no-repeat center;
      background-size: 14px;
      position: absolute;
      right: 0;
      top: 2px;
      z-index: 200;
      cursor: pointer;
      transition: all 0.5s ease;
      border: none;
    }

    ul {
      @media (min-width: 992px) {
        left: 0;
      }

      position: absolute;
      top: 33px;

      display: none;
      background-color: $bne_color_4;
      z-index: 1001;
      box-shadow: $bne_box_shadow;
      width: 100%;

      li {
        display: block !important;
        list-style: none;

        a {
          color: $bne_color_2 !important;
          font-size: 16px !important;
        }
      }
    }
  }
}

#block-mx1bne2 {
  .menu {
    .menu-item {
      ul {
        display: none;
      }
    }
  }
}

//Estilos intercambiador de idiomas
.language-switcher-language-url {
  position: relative;
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 48px;
  // border-left: 0.5px solid $main_color_4;
  // border-right: 0.5px solid $main_color_4;

  width: 96px;
  justify-content: center;
  margin-right: 0;

  label {
    color: white;
    font-size: 16px;
    padding-right: 22px;
    cursor: pointer;
  }

  button {
    content: "";
    height: 14px;
    width: 14px;
    background: url(/themes/contrib/bne_theme/recursos/arrow_down_white.svg) no-repeat center;
    background-size: 14px;
    position: absolute;
    right: 22px;
    top: 16px;
    z-index: 200;
    cursor: pointer;
    transition: all 0.5s ease;
    border: none;
  }

  ul.links {
    position: absolute;
    top: 32px;
    left: 0;
    display: none;
    background-color: $bne_color_4;
    z-index: 1001;
    box-shadow: $bne_box_shadow;
    width: 100%;
    padding: 0;

    li {
      height: 48px;
      display: flex;
      align-items: center;
      justify-content: center;
      text-decoration: none;
      border-bottom: 0.5px solid #d3d3d3;

      &:first-child {
        border-bottom: 0.5px solid #d3d3d3;
      }

      &:last-child {
        border-bottom: none;
      }

      &::before {
        display: none;
      }

      a {
        color: $bne_color_2 !important;
        font-size: 16px !important;
        text-decoration: none !important;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
      }
    }
  }
}

.ps_microsite_container .ps_header_site_2_col {
  background-color: transparent;
}

//Estilos enlace contacto
#block-mx1bnecontactoenlacesuperior-2 {
  ul {
    li {
      a {
        font-size: 14px;
        color: $bne_color_4;
      }
    }
  }

  @media (min-width: 300px) and (max-width: 992px) {
    margin: 0 30px 0 15px;

    ul {
      li {
        position: relative;

        a {
          font-size: 14px;
          color: $bne_color_4;
          font-size: 0;
          position: absolute;
          top: 0;
          left: 0;
          display: block;
          width: 100%;
          height: 100%;
        }

        &::after {
          content: url(/themes/contrib/bne_theme/recursos/sobre.svg);
          width: 14px;
          height: 14px;
        }
      }
    }
  }
}

//Estilos menu principal movil

@media (max-width: 991.98px) {
  .ps_microsite_container {
    position: relative;
  }

  .ps_header_site_2_col_content {
    .header_site_left {
      img {
        height: 60px !important;
        width: auto !important;
        max-width: none;
      }
    }

    .header_site_right {
      .region-header-site-2-2 {
        nav {
          position: inherit;
          border-left: 0.5px solid #d3d3d3;
          display: flex;
          align-items: center;
          cursor: pointer;

          #block-mx1fabne-menu{
            padding: 0 20px;
            font-size: 16px;
            color: $blanco;
          }

          #block-bne-theme-mx1bne-menu {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 96px;
            height: 124px;
            margin: 0;
            font-size: 16px;
            color: $negro;

            &::after {
              display: none;
            }
          }

          ul.menu {
            position: absolute;
            top: 125px;
            left: 0;
            z-index: 400;
            display: none;
            margin: 0;
            background-color: $bne_color_1;
            width: 100%;
            //max-width: 400px;
            padding: 27px 0;

            @media (max-width: 992px) {
              top: 101px;
            }

            @media (max-width: 768px) {
              top: 76px;
            }

            li {
              padding: 0px 30px 0px 30px !important;

              a {
                color: $blanco !important;
                font-size: 18px !important;
                display: block;
                padding: 15px 0px 10px 0 !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (min-width: 992px) {
  #block-bne-theme-mx1bne {
    #block-bne-theme-mx1bne-menu {
      display: none;
    }
  }

  .ps_header_site_2_col_content {
    .header_site_right {
      .region-header-site-2-2 {
        nav {
          display: flex;
          align-items: center;
          width: 100%;
          max-width: 700px;

          // Título "Menu"
          #block-mx1fabne-menu{
            @media (min-width: 992px) {
              display: none;
            }
          }

          // Enlaces del Menu
          ul.menu {
            display: flex !important;
            width: 100%;
            justify-content: space-evenly;
            li{
              padding: 0;
            }
          }
        }
      }
    }
  }
}

//estilos bloque buscador

.ps-bloque-buscador-bne {
  padding: 15px;
  display: none;
  position: absolute;
  width: 100%;
  z-index: 500;
  background-color: #f9f9f9;
  box-sizing: border-box;
  background-color: rgba(29, 29, 29, 0.9);

  @media (min-width: 300px) and (max-width: 992px) {
    background-color: rgba(29, 29, 29, 1);
  }

  width: 100%;
  height: 100%;
  min-height: 100vh;
  padding-top: 10%;

  @media (max-width: 957px) {
    padding: 20% 15px;
  }

  .webform-submission-bloque-buscador-bne-form {
    //display: block !important;

    width: 100%;
    max-width: 1185px;
    margin: 0 auto;

    display: grid !important;
    //grid-template-columns: 85% 15%;
    grid-template-columns: 83% 17%;

    @media (max-width: 1200px) {
      grid-template-columns: 83% 17%;
    }

    #edit-titulo-buscador {
      grid-column: span 2;

      .title-general-search {
        display: block;
        font-size: 44px;
        font-family: $dm-serif;
        font-weight: $dm-serif-regular;
        color: $blanco;
        // margin-bottom: 0.5em;

        @media (max-width: 575.98px) {
          font-size: 32px;
        }

      }

    }

    label.title {
      display: block;
      font-size: 44px;
      font-family: $dm-serif;
      font-weight: $dm-serif-regular;
      color: $blanco;
      // margin-bottom: 0.5em;
      grid-column: span 2;

      @media (max-width: 575.98px) {
        font-size: 32px;
      }
    }

    label.subtitle {
      display: block;
      font-size: $h4_font_size;
      color: $blanco;
      margin-bottom: 1em;
      grid-column: span 2;
    }

    .js-form-item{
      margin-top: 1em;
      margin-bottom: 1em;
    }

    .form-type-textfield {
      label {
        //display: none;
        display: block;
        font-size: 44px;
        font-family: $dm-serif;
        font-weight: $dm-serif-regular;
        color: $blanco;
        margin-bottom: 1.2em;

        @media (max-width: 575.98px) {
          font-size: 32px;
        }
      }

      input {
        height: 20px;
        font-size: 16px;
        color: #606060;
        padding: 48px;
        box-sizing: border-box;
        border: none;
      }
    }

    .webform-actions {
      position: relative;

      .icono-lupa {
        height: 96px;
        bottom: 0px;
        position: absolute;
        //top: 0;
        left: 0;
        background-color: $bne_color_5;
        width: 100%;
        //height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 27px;
          height: 27px;

          path {
            fill: $blanco;
          }

          .a {
            stroke: none;
          }
        }
      }

      input {
        position: absolute;
        bottom: 1px;
        left: 0;
        z-index: 400;
        width: 100%;
        height: 96px;
        border: none;
        background: transparent;
        padding: 0;
        font-size: 0;
      }
    }

    @media (max-width: 575.98px) {
      display: flex !important;
      flex-direction: column;

      .webform-actions {
        height: 97px;
      }
    }
  }
}

.ps-mostrar-ocultar-buscador {
  width: 96px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 0.5px solid $bne_color_3;
  // border-right: 0.5px solid $bne_color_3;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 100%;
    max-width: 70px;
  }

  .view-bloque-mostrar-ocultar-buscador-bne {
    .view-content {
      .hide-element {
        display: none;
      }

      .lupa {
        svg {
          width: 28px;
          height: 28px;

          @media (max-width: 768px) {
            width: 24px;
            height: 24px;
          }

          path {
            fill: $blanco;
            stroke: none;
          }
        }
      }

      .cerrar {
        svg {
          width: 26px;
          height: 26px;

          @media (max-width: 768px) {
            width: 24px;
            height: 24px;
          }

          path {
            fill: $blanco;
            stroke: none;
          }
        }
      }
    }
  }
}



// ENCABEZADO ==> SIDEBAR + BREADCRUMB
.ps-encabezados-region{

  // Ocultar el sidebar y el breadcrum por CSS 
  // Se muestra por JS cuando exista #block-fundacion-theme-enlacesdeayudaalanavegacion
  // Se he programado así para que el sidebar no aparezca en la HOME
  display: none; 

  .region-breadcrumb{
    //estilos barra de menu movil del sidebar
    #block-fundacion-theme-bloquedenavegacionsidebarmovilbne {
      @media (min-width: 992px) {
        display: none !important;
      }

      cursor: pointer;

      //padding: 15px 15px 0 15px;
      .ps-navigation-bar {
        //margin-top: 20px;
        height: 60px;
        //border: 0.5px solid $bne_color_3;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $bne_color_1;

        .titulo {
          font-size: 16px;
          color: $bne_color_1;
          display: flex;
          align-items: center;


        }

        h2 {
          font-size: 16px;
          color: $bne_color_1;
          display: flex;
          align-items: center;

          &::after {
            display: none;
          }
        }

        button {
          content: "";
          height: 20px;
          width: 20px;
          background: url(/themes/contrib/bne_theme/recursos/flecha-hacia-abajo.svg) no-repeat center;
          background-size: 20px;
          transition: all 0.5s ease;
          transform: rotate(-180deg);
          border: none;

        }

        .rotate-svg {
          transition: all 0.5s ease;
          transform: rotate(0deg);
        }
      }
    }
  }
}



.layout-sidebar-first {
  @media (min-width: 300px) and (max-width: 991.98px) {
    display: none;
  }

  @media (min-width: 992px) {
    display: block !important;
  }
}


// =========================================================
// =========== HEADER BANNER - IMAGEN ENCABEZADO ===========
// =========================================================

header {
  position: sticky;
  top: 0;
  z-index: 500;
  background-color: $negro;
}
header::before {
  content: ' ';
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  background-image: url($img_encabezado);
  background-repeat: no-repeat;
  // background-position: 50% 0;
  background-size: cover;
  background-position: center center;
}


// =========================================================
// =========================================================
// =========================================================


#block-mx1bnecontacto {
  max-width: 1366px;
  margin: 0 auto;
  padding: 30px 30px 0 30px;

  @media (max-width: 992px) {
    padding: 30px 30px 0 30px;
  }

  ul.menu {
    display: grid;
    grid-template-columns: 1fr;

    // grid-gap: 2em;
    // @media (min-width: 578px) {
    //   grid-template-columns: 1fr 1fr;
    // }
    // @media (min-width: 768px) {
    //   grid-template-columns: repeat(2, 1fr);
    // }
    @media (min-width: 992px) {
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 3em;
    }

    li {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      cursor: pointer;


      .menu_link_content {
        width: 100%;
      }

      a {
        font-size: 28px;
        color: $negro;
        font-family: $dm-serif;
        font-weight: $dm-serif-regular;
        line-height: 38px;
        margin-bottom: 0.5em;
        margin-top: 0.5em ;
      }

      .menu_link_content {
        @media (max-width: 991.98px) {
          display: none;
        }
        .field--name-field-descripcion-enlace {
          .field__label {
            display: none;
          }

          .field__item {
            font-size: 14px;
            color: $bne_color_2;
            line-height: 20px;
            margin-bottom: 0.42em;
          }
        }
      }
    }
    @media (max-width: 991.98px) {
      li:last-child{
        display: none !important;
      }
      li{
        border-bottom: 1px solid $bne_color_3;
      }

    }

    .menu-item--active-trail.ps-link-activo {
      border-bottom: none;
        a {
          border-bottom: 4px solid $bne_color_5;
        }


    }
  }
}

@media (max-width: 768px) {
  #block-mx1bnecontacto {
    max-width: 1366px;
    margin: 0 auto;
    padding: 30px;

    .menu-contacto-movil {
      display: inline-block !important;
      padding-bottom: 5px;
      font-size: 28px;
      color: $negro;
      font-family: $dm-serif;
      font-weight: $dm-serif-regular;
      line-height: 25px;
      border-bottom: 4px solid $bne_color_5;
    }

    .menu-contacto-movil-bar {
      display: block !important;
      border-bottom: 1px solid $bne_color_3;
      height: 30px;
      position: relative;

      @media (min-width: 576px) {
        display: none;
      }

      .ocultar-nivel {
        height: 0;
        transition: all 0.5s ease;
      }

      .mostrar-nivel {
        height: 0;
        transition: all 0.5s ease;
      }

      .show-nivel {
        height: 16px;
      }

      svg {
        position: absolute;
        top: 7px;
        right: 5px;
        width: 16px;
        height: 16px;

        .a {
          stroke: none;
          stroke-width: 0px;
        }
      }
    }

    @media (max-width: 992px) {
      padding: 30px 30px 0px 30px;
    }

    ul.menu {
      //display: none;
      margin-block-end: 0;

      li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        cursor: pointer;

        .menu_link_content {
          width: 100%;
        }

        a {
          font-size: 28px;
          color: $negro;
          font-family: $dm-serif;
          font-weight: $dm-serif-regular;
          line-height: 38px;
          margin-bottom: 0.5em;
          margin-top: 0.5em;
        }

        .menu_link_content {
          .field--name-field-descripcion-enlace {
            display: none;
          }
        }
      }

      .menu-item--active-trail {
        //display: none;
        // a {
        //   border-bottom: none;
        // }
      }
    }
  }
}

@media (min-width: 768px) {
  #block-mx1bnecontacto {
    ul.menu {
      display: grid !important;
      margin-block-end: 0;
    }
  }
}

.ps-node-3209 {
  .region-content {
    .ps-menu-contacto-2 {
      padding: 0 30px 30px 30px;
      max-width: 1366px;
      margin: 0 auto;

      ul.menu {
        display: grid;
        grid-template-columns: 1fr;
        margin-block-start: 0;

        // grid-gap: 2em;
        // @media (min-width: 578px) {
        //   grid-template-columns: 1fr 1fr;
        // }
        // @media (min-width: 768px) {
        //   grid-template-columns: repeat(2, 1fr);
        // }
        @media (min-width: 992px) {
          grid-template-columns: repeat(3, 1fr);
          grid-gap: 3em;
        }

        li {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          cursor: pointer;

          .menu_link_content {
            width: 100%;
          }

          a {
            font-size: 28px;
            color: $negro;
            font-family: $dm-serif;
            font-weight: $dm-serif-regular;
            line-height: 38px;
            margin-bottom: 0.5em;
            margin-top: 0.5em;
          }

          .menu_link_content {
            display: none;
            .field--name-field-descripcion-enlace {
              .field__label {
                display: none;
              }

              .field__item {
                font-size: 14px;
                color: $bne_color_2;
                line-height: 20px;
                margin-bottom: 0.42em;
              }
            }
          }
        }

        .menu-item--active-trail {
          a {
            border-bottom: 4px solid $bne_color_5;
          }
        }
      }
      @media (max-width: 991.98px) {

        li{
          display: none !important;

        }
        li:last-child{
          display: flex !important;
        }
      }

      @media (min-width: 992px) {
        display: none;
      }

    }
  }

}