.menu-sidebar {
  margin-bottom: 2em;

  .menu {
    .menu-item--active-trail {
      .is-active {
        border-bottom: none;
        box-shadow: inset 0px -10px 0px -7px #bc8a00;
        
        padding-bottom: 5px;
        display: inline;
      }
    }
    .menu{
      padding-right: 0;
    }

    .menu-item {
      margin: 0 0 15px 0;
      padding-right: 25px;

      .field--name-field-descripcion-enlace{
        display: none;
      }
      .field--name-field-descripcion-enlace-menu{
        display: none;
      }
      a {
        font-size: 16px;
        color: $bne_color_1;
        display: inline;
        padding-bottom: 4px;
        letter-spacing: 1px;
        &:hover{
            //border-bottom: 2px solid $bne_color_5;
            border-bottom: none;
            box-shadow: inset 0px -10px 0px -7px $bne_color_5;
        }

      }
      span{
        font-size: 16px;
        color: $bne_color_1;
        display: block;
        padding-bottom: 4px;
        letter-spacing: 1px;
      }
      p {
        font-size: 16px;
        color: $bne_color_1;
      }

      ul {
        margin-top: 15px;
        li {
          margin-left: 20px;
          padding: 0;
          a {
            font-size: 14px;
            color: $bne_color_2;
            text-transform: initial;
          }
          p {
            font-size: 14px;
            color: $bne_color_2;
          }
        }
        .menu-item{
          a{
            font-size: 16px;
            color: $bne_color_2;
            font-weight: 400;
          }
          span{
            font-size: 16px;
            color: $bne_color_2;
            font-weight: 400;
          }

        }
      }

    }
    @media (min-width: 992px) {
      .menu-item{
        text-align: right;
        a, span{
          text-align: right;
          display: inline-block !important;
          cursor: pointer;
          font-weight: 400;
          text-transform: initial;
        }

      }

      .menu-item--active-trail{
        a, span{
          font-weight: 500;
          // text-transform: uppercase;
        }

      }


    }
  }
  .menu-item--expanded {
    padding: 0;
    position: relative;
   // padding-right: 25px;
    a {
      display: block;
    }
    button {
      display: none; // OCULTAR FLECHA

      content: none;
      height: 15px;
      width: 15px;
      background: url(/themes/contrib/bne_theme/recursos/arrows_down_grey.svg)
        no-repeat center;
      background-size: 15px;
      position: absolute;
      right: 0;
      top: 0;
      z-index: 10;
      cursor: pointer;
      transition: all 0.5s ease;
      border: none;
      @media (max-width: 991.98px) {
      padding: 1em;
      }

    }
    .rotate-svg {
      transition: all 0.5s ease;
      transform: rotate(-90deg);
    }

    ul {
      // display: none;
    }
    .ps-show-submenu {
      height: 100%;
      max-height: 100vh;
      transition: max-height 0.5s ease-in;
    }
  }
}










