//MENÚ PRINCIPAL DEL FOOTER//

.block-menu.menu--footer {
    padding: 25px 0;
    .menu {
        @include display_flex(row, space-evenly, center);
    }
}

nav#block-mz1menufooterantzokia{
    padding: 25px 0;
    ul.menu {
        @include display_flex(row, space-evenly, center);
        background-color: $brown_color !important;
        li.menu-item.menu-item--expanded{
            a{
                color:white; 
                list-style: none; 
              //  font-family: $main_font_semiBold;
                font-size: 16px;
            }
            ul.menu{
                margin-top:10px; 
                display: flex;
                flex-direction: column;
                align-items: flex-start;      
                
                a{
                    font-family: $main_font_regular;
                    font-size: 13px;
                    margin-bottom: 5px;
                }      
            }
        }
        .menu-item--expanded{
            list-style: none;        
        }
    }
}