
/*
    ========== COMPONENTE GRID ==========

    Estilos dedicados a la vista componente grid.

    Se ha hecho uso de los siguientes MIXINS:
    
        @mixin display_flex($direction, $justify_content, $align_items)

        @mixin responsive-img

    ------------------------- MIXINS --------------------------
    display_flex = Mixin para las vistas display flex

    responsive-img = Hace que las imágenes sean adaptables

    ----------------------- VARIABLES -------------------------
    $direction = Propiedad flex-direction (Flex)

    $justify_content = Propiedad justify-content (Flex)

    $align_items = Propiedad align-items (Flex)

    $repeat_column_num = Veces que se repite una columna en
    componente grid

    $column_width = Ancho de la columna en componente grid

    $grid-gap = Espacio entre rejillas de componente grid

*/

.ps-componente-grid{
    .view-content {
        display: grid;
        grid-template-columns: repeat($repeat_column_num, $column_width);
        gap: $grid-gap;

        @media (max-width: 800px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (max-width: 390px) {
            grid-template-columns: 1fr;
        }
        
        .views-row {
            h2 {
                text-align: center;
                @include display_flex(column, initial, center);
            }
            img {
                @include responsive-img;
            }
            .node__content {
                @include display_flex(column, initial, center)
            }
        }        
    }
}