/*
    ========== MEDIA FILE ==========

    Estilos dedicados a la vista de los archivos con el logo.

    Se ha hecho uso de los siguientes MIXINS:
    
        @mixin display_flex($direction, $justify_content, $align_items)

    ------------------------- MIXINS --------------------------
    display_flex = Mixin para las vistas display flex

    @mixin before-icon($size, $left, $icon)

    ----------------------- VARIABLES -------------------------
    $direction = Propiedad flex-direction (Flex)

    $justify_content = Propiedad justify-content (Flex)

    $align_items = Propiedad align-items (Flex)

    $size = Tamaño del icono

    $left = Posición a la izquierda del icono

    $icon = SVG del icono

*/


.ps-custom-media-default {
    @include display_flex(row, initial, initial);

    .ps-custom-field-group {
        @include display_flex(column, initial, initial);
        gap: 15px;
        padding-left: 15px;

        .field-link-name {
            a{
                color: $main_color_2 !important;
                padding-left: 25px;
                position: relative;
                &::before { 
                    @include before-icon(20px, 0, $file_icon);
                }
            }
        }

        .field--type-created {
            color: #ccc;
        }
    }
}


.ps-custom-file,
.media--type-archivo {
    .file {
        padding-left: 0;
        position: relative;
        &--application-pdf {
            background-image: none;
            @include display_flex(row, initial, center);
            &::before {
                @include before-icon(15px, 0, $file_icon);
                filter: $filter_main_color_1;
            }
            a {
                padding-left: 20px;
            }
        }
    }
}